@define-color base00 #141617;
@define-color base01 #1D2021;
@define-color base02 #282828;
@define-color base03 #3C3836;
@define-color base04 #504945;
@define-color base05 #32302F;
@define-color base07 #D4BE98;
@define-color base08 #DDC7A1;
@define-color base09 #EA6962;
@define-color base0A #E78A4E;
@define-color base0B #D8A657;
@define-color base0C #A9B665;
@define-color base0D #89B482;
@define-color base0E #7DAEA3;
@define-color base0F #D3869B;
@define-color base10 #7C6F64;
@define-color base11 #928374;
@define-color base12 #A89984;

* {
  transition: none;
  box-shadow: none;
}

#waybar {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: @base08;
  background: @base01;
}

#workspaces {
  margin: 4px;
}

#workspaces button {
  padding: 0 6px;
  color: @base07;
}

#workspaces button.visible {
}

#workspaces button.active {
  border-radius: 4px;
  background-color: @base03;
  color: @base07;
}

#workspaces button.urgent {
  color: @base09;
}

#window {
  font-weight: 600;
}

#tray {
  margin: 4px;
  border-radius: 4px;
  background-color: @base03;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @base01;
}

#tray *:first-child {
  border-left: none;
}

#mode,
#battery,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#idle_inhibitor,
#backlight,
#clock,
#temperature,
#language {
  margin: 4px 2px;
  padding: 0;
  border-radius: 4px;
  min-width: 20px;
}

#idle_inhibitor {
  background-color: @base03;
  padding: 4px;
}

#pulseaudio.muted {
  color: @base09;
}

#pulseaudio.bluetooth {
  color: @base0C;
}

#clock {
  margin-left: 0px;
  margin-right: 8px;
  padding: 4px 6px;
  background-color: @base03;
}

#temperature.critical {
  color: @base09;
}

tooltip {
  background: @base01;
  color: @base08;
  border: 1px solid @base12;
  border-radius: 4px;
}

tooltip * {
  color: @base08;
}
