""" Common settings -----------------------------------
set scrolloff=5
set rnu
set incsearch
set hlsearch
set ignorecase smartcase
set timeoutlen=5000
set which-key

""" Plugins ------------------------------------------
Plug 'machakann/vim-highlightedyank' Plug 'tpope/vim-commentary'

""" Mappings -----------------------------------------
let mapleader=" "

""" Map IDE actions to IdeaVim -----------------------
""" https://jb.gg/abva4t
"" Search files
nnoremap <leader>ff :action GotoFile<CR>
"" Search everywhere
nnoremap <leader>fw :action SearchEverywhere<CR>
"" Jump to recent files (Old files)
nnoremap <leader>fo :action RecentFiles<CR>           
"" Toggle zen mode
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>
"" Jump to class
nnoremap <leader>fc :action GotoClass<CR>
"" Jump to method or symbol
nnoremap <leader>fm :action GotoSymbol<CR>
"" Jump to usage
nnoremap <leader>fu :action FindUsages<CR>
"" Jump to action
nnoremap <leader>fa :action GotoAction<CR>
"" Jump to next diagnostic
nnoremap ]d :action GotoNextError<CR>
"" Jump to previous diagnostic
nnoremap [d :action GotoPreviousError<CR>
"" Navigate to Next Tab and Previous Tab
nnoremap <Tab> :action NextTab<CR>
nnoremap <S-Tab> :action PreviousTab<CR>
"" Reorder tab to left or right
nnoremap <A-,> :action MoveTabLeft<CR>
nnoremap <A-.> :action MoveTabRight<CR>
"" Close tab
nnoremap <leader>x :action CloseEditor<CR>

"" Format with Q
map Q gq

"" Reload ideavimrc
nnoremap <leader>vr :source ~/.ideavimrc<CR>:echo "Reloaded .ideavimrc"<CR>
