window {
  margin: 0px;
  border: 2px solid #7daea3;
  border-radius: 8px;
  background-color: #1d2021;
}

#input {
  margin: 5px;
  border: none;
  color: #ebdbb2;
  background-color: #282828;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #1d2021;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #1d2021;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #ebdbb2;
}

#text:selected {
  color: #7daea3;
  font-weight: bold;
}

#entry:selected {
  background-color: #282828;
  border-radius: 6px;
}

img {
  margin-left: 0.25em;
  margin-right: 0.25em;
}